<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
	<head>
		<title>Spring Boot Application Demo</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<h1>Employees List</h1>
			<hr />
			<a class="btn btn-primary btn-sm mb-3" th:href="@{/employees/formForAdd}">Add new employee</a>
			<table class="table table-bordered table-stripped">
				<thead class="thead-dark">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee: ${employees}">
						<td th:text="${employee.firstName}"/>
						<td th:text="${employee.lastName}"/>
						<td th:text="${employee.email}"/>
						<td>
							<a class="btn btn-info" th:href="@{'/employees/formForEdit/' + ${employee.id}}">Update</a>
							<form action="#" method="POST" th:action="@{'/employees/delete/' + ${employee.id}}" >
<!-- 								<input type="hidden" th:object="${employee.id}" /> -->
								<button type="submit" class="btn btn-danger">Delete</button>
							</form>	
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>