<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Spring Boot Application Demo</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<h1>Employee Directory</h1>
			<hr />
			<h3>Save Employee</h3>
			<form>
				<label>First Name</label>
				<input type="text" placeholder="First Name" />
				<label>Last Name</label>
				<input type="text" placeholder="Last Name" />
				<label>Email Name</label>
				<input type="email" placeholder="Email" />
				<input type="submit" class="btn btn-primary" />
			</form>
			<hr />
			<a href="/employees/list">Back to Employees list</a>
		</div>
	</body>
</html>