<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Spring Boot Application Demo</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<h1>Employee Directory</h1>
			<hr />
			<h3>Save Employee</h3>
			<form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST">
				<label>First Name</label>
				<input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4" />
				<label>Last Name</label>
				<input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4" />
				<label>Email Name</label>
				<input type="email" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4" />
				<input type="submit" class="btn btn-info" />
			</form>
			<hr />
			<a href="/employees/list">Back to Employees list</a>
		</div>
	</body>
</html>